.contenidoDentroDeLaPagina {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding-left:65px ;
    
  }
  




.contenidoPagina {
  display: flex;
  flex-direction: row;
  
}

.espacio-contenido {
  border: 1px solid #ffffffd5;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #1b0656;
  padding: 60px; /* Aumentar el espacio interno */
  margin: 100px; /* Agregar margen alrededor del elemento */
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
  flex-direction: column; /* Para que los elementos se alineen en columnas */
  min-width: 700px;
  min-height: 500px;
}

@media (min-width: 300px) {
  .espacio-contenido {
      flex-direction: row; /* Cambiar a dirección horizontal si el tamaño de la ventana es mayor a 600px */
  }
}


.carrusel-contenido{
  
  display: table-column;
  justify-content: center;
  align-items: center;
  border-radius: 4px ;
  margin: 50px;
  padding: 50px;
  font-family: 'calibri';
  color: white;
  flex-direction: column; /* Para que los elementos se alineen en columnas */
  max-width: 900px;
}