.menu {
    align-items: center;
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    justify-content: center;
  }
  
  
  
  .boton-menu {
    font-size: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 9px;
    padding: 12px 16px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    border: 3px solid #000;
    transition: .3s ease background-color;
    width: 80%; /* Ajusta el ancho automáticamente al contenido */
    box-sizing: border-box; 
    /* Asegura que el padding no aumente el ancho del botón */
  }
  
  .boton-menu:hover {
    opacity: .8;
  }
  
  
  .boton-menu.presionado {
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    background-color: rgba(25, 0, 169, 0.235);
    opacity: 1;
  }
  
  .boton-menu.presionado:hover {
    background-color: rgba(255, 0, 0, 0.178);
    color: #ff0000cd;
    border: 3px solid #b50000d2;
    transition: .3s ease all;
    opacity: 1;
  }
  