input.controls{
    display: flex;
    width: 80%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #000000;
    font-family: 'calibri';
    font-size: 10px;
    color: rgb(241, 241, 241);
    
 

}

input{
    width: 100%;
}



.errores {
    display: block;
    color: tomato;
    font-size: x-small;
  }
  



input.boton {
    width: 200px; /* Ancho automático según el contenido */
    background: #280045a6;
    border: 1px solid #f0ffff; /* Borde blanco de 2px */
    padding: 5px 10px; /* Espaciado interno */
    color: rgba(255, 255, 255, 0.753);
    margin: 16px 0;
    font-size: 14px;
    border-radius: 9px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    align-content: center ;
}

input.boton:hover {
    background: #071624; /* Cambia el color de fondo al pasar el cursor */
}
.formulario-principal{
    margin-right: 70px;
}